<div class="flex flex-col h-screen">
    <app-menu-top-bar></app-menu-top-bar>

    <div *ngIf="this.character" class="flex flex-col items-center justify-center h-full">
        <div class="w-1/2 flex flex-col gap-4">
            <a [routerLink]="['/game']" class="btn-flex w-fit border-b-2 py-1 font-bold">
                <span class="material-symbols-outlined">arrow_back</span>
                Go back
            </a>

            <div class="flex gap-6 bg-appSlate900 p-6 rounded-lg">
                <form class="basis-1/2 flex flex-col gap-6" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="flex flex-col gap-2">
                        <input readonly type="text" id="name" class="input" formControlName="name">
                        <input readonly type="text" id="avatarURL" class="input" formControlName="avatarURL">
                    </div>

                    <div class="flex gap-6">
                        <div class="flex flex-col gap-2">
                            <div class="flex flex-col justify-between items-center w-full h-full gap-4">
                                <div class="flex flex-col items-center bg-appSlate800 p-4 rounded-lg">
                                    <h3 class="font-spectral text-xl font-bold">STR</h3>
                                    <p class="text-3xl font-bold">{{this.convertModifierToString(
                                        this.convertAbilityScoreToAbilityScoreModifier(this.form.get('strScore')?.value)
                                    )}}</p>
                                    <input readonly type="number" class="input w-12 px-0 text-center" formControlName="strScore">
                                </div>
                
                                <div class="flex flex-col items-center bg-appSlate800 p-4 rounded-lg">
                                    <h3 class="font-spectral text-xl font-bold">DEX</h3>
                                    <p class="text-3xl font-bold">{{this.convertModifierToString(
                                        this.convertAbilityScoreToAbilityScoreModifier(this.form.get('dexScore')?.value)
                                    )}}</p>
                                    <input readonly type="number" class="input w-12 px-0 text-center" formControlName="dexScore">
                                </div>
                
                                <div class="flex flex-col items-center bg-appSlate800 p-4 rounded-lg">
                                    <h3 class="font-spectral text-xl font-bold">CON</h3>
                                    <p class="text-3xl font-bold">{{this.convertModifierToString(
                                        this.convertAbilityScoreToAbilityScoreModifier(this.form.get('conScore')?.value)
                                    )}}</p>
                                    <input readonly type="number" class="input w-12 px-0 text-center" formControlName="conScore">
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col gap-6 grow">
                            <div class="flex gap-4">
                                <div class="flex flex-col items-center bg-appSlate800 p-4 rounded-lg w-1/2">
                                    <h3 class="font-spectral text-xl font-bold">AC</h3>
                                    <p class="text-3xl font-bold">{{11 + this.convertAbilityScoreToAbilityScoreModifier(this.form.get('conScore')?.value)}}</p>
                                </div>
                                <div class="flex flex-col items-center bg-appSlate800 p-4 rounded-lg w-1/2">
                                    <h3 class="font-spectral text-xl font-bold">Max HP</h3>
                                    <p class="text-3xl font-bold">{{(this.form.get('conScore')?.value * 2) + this.convertAbilityScoreToAbilityScoreModifier(this.form.get('conScore')?.value)}}</p>
                                </div>
                            </div>

                            <div class="flex flex-col gap-2 bg-appSlate800 p-4 rounded-lg grow">
                                <div *ngFor="let attack of this.character.attacks" (click)="this.doAction(this.character, attack)" class="flex justify-between">
                                    <p class="font-bold w-full">{{attack.name}}</p>
                                    <p class="font-bold">{{this.generateAttackString(this.character, attack)}}</p>
                                    <p class="font-bold w-full text-right">
                                        {{this.generateDamageString(this.character, attack)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="basis-1/2">
                    <img src="{{this.form.get('avatarURL')?.value}}" alt="" class="aspect-card object-cover bg-center h-full w-full rounded-lg">
                </div>
            </div> 
        </div>
    </div>
</div>