<div class="flex flex-col h-screen">
    <ng-container *ngIf="this.matchService.activeMatch !== undefined">
        <app-lobby-view *ngIf="this.matchService.activeMatch" class="flex flex-col h-full gap-8 px-12 py-6" [match]="this.matchService.activeMatch"></app-lobby-view>

        <div *ngIf="!this.matchService.activeMatch" class="flex flex-col gap-4 items-center justify-center h-full">
            <h1 class="font-spectral text-5xl font-bold">No active match</h1>
            <button [routerLink]="['']" class="btn-flex">
                Go home
                <span class="material-symbols-outlined">fort</span>
            </button>
        </div>
    </ng-container>

    <app-full-loader class="h-full" *ngIf="this.matchService.activeMatch === undefined"/>
</div>