<div *ngIf="this.modalOpen" class="flex justify-center items-center absolute inset-0 bg-appSlate900/50 z-[999] backdrop-blur">
    <div class="flex flex-col gap-6 bg-appSlate900 px-12 py-6 rounded-lg w-1/2">
        <div class="font-spectral text-4xl font-bold">Bug report</div>

        <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex flex-col gap-2">
                <label for="subject">Subject</label>
                <input type="text" id="subject" class="input" formControlName="subject">
            </div>

            <div class="flex flex-col gap-2">
                <label for="message">Subject</label>
                <textarea id="message" class="input" formControlName="message"></textarea>
            </div>
        </form>
    
        <div class="flex gap-6">
            <button *ngIf="!this.processingRequest" (click)="this.onSubmit()" type="button" class="btn-primary" [disabled]="form.invalid">Send bug report</button>
            <button *ngIf="this.processingRequest" type="button" class="btn-primary" disabled>Sending bug report...</button>
            <button class="btn-secondary" (click)="this.modalOpen = false;">Cancel</button>
        </div>
    </div>
</div>

<div class="flex w-full justify-between">
    <span>Made by Bradley Oosterveen</span>
    <a class="underline" (click)="this.modalOpen = true;">Report a bug</a>
</div>