<div 
    class="play-card transition"
    [ngClass]="{
        'active': this.active,
        'cursor-pointer hover:scale-105 group': !this.disabled,
        'opacity-30': !this.active && this.disabled,
        'w-full': this.fullSize
    }"
>
    <div *ngIf="this.playerData && this.playerData.character" class="flex flex-col h-full gap-6 relative z-10">
        <h3 [ngClass]="{'text-5xl': this.fullSize}"
        >{{this.playerData.character.name}}</h3>

        <div class="flex flex-col grow justify-center gap-4">
            <div class="flex flex-col items-center">
                <span [ngClass]="{'text-2xl': this.fullSize}">Armor Class</span>
                <span class="text-5xl font-bold">{{this.playerData.character.armorClass}}</span>
            </div>

            <div *ngIf="!this.battle" class="flex flex-col items-center">
                <span [ngClass]="{'text-2xl': this.fullSize}">Max Hit Points</span>
                <span class="text-5xl font-bold">{{this.playerData.character.maxHitPoints}}</span>
            </div>

            <div *ngIf="this.battle" class="flex flex-col items-center">
                <span [ngClass]="{'text-2xl': this.fullSize}">Hit Points</span>
                <div>
                    <span class="text-5xl font-bold">{{this.playerData.currentHitPoints}} / </span>
                    <span
                        [ngClass]="{'text-2xl': this.fullSize}"
                    >{{this.playerData.character.maxHitPoints}}</span>
                </div>
            </div>
        </div>

        <div class="flex justify-around items-end w-full h-full">
            <div class="flex flex-col items-center">
                <h5 [ngClass]="{'text-3xl': this.fullSize}"
                >STR</h5>
                <span class="text-3xl font-bold">{{this.calculateAbilityModifier(this.playerData.character.strengthScore)}}</span>
                <span>{{this.playerData.character.strengthScore}}</span>
            </div>

            <div class="flex flex-col items-center">
                <h5 [ngClass]="{'text-3xl': this.fullSize}"
                >DEX</h5>
                <span class="text-3xl font-bold">{{this.calculateAbilityModifier(this.playerData.character.dexterityScore)}}</span>
                <span>{{this.playerData.character.dexterityScore}}</span>
            </div>

            <div class="flex flex-col items-center">
                <h5 [ngClass]="{'text-3xl': this.fullSize}"
                >CON</h5>
                <span class="text-3xl font-bold">{{this.calculateAbilityModifier(this.playerData.character.constitutionScore)}}</span>
                <span>{{this.playerData.character.constitutionScore}}</span>
            </div>
        </div>
    </div>
    
    
    <img *ngIf="this.playerData && this.playerData.character"
        src="{{this.playerData.character.avatarURL}}" 
        alt="" 
        class="transition group-hover:scale-110 group-hover:opacity-60 object-cover bg-center absolute inset-0 opacity-20 h-full w-full"
        [ngClass]="{
            'opacity-40': this.active,
        }"
    >
</div>