<ng-container *ngIf="this.matchService.match">
    <div class="flex flex-col gap-4">
        <div class="flex justify-between items-center w-full">
            <div class="font-spectral text-2xl font-bold">Baldur's Trials</div>

            <div class="flex gap-8 items-center">
                <span>Time played: {{this.timePlayed}}</span>

                <button *ngIf="this.matchService.isHost(this.matchService.match)" class="btn-secondary" (click)="this.onEndMatchClick()">End match</button>
                <button *ngIf="!this.matchService.isHost(this.matchService.match)" class="btn-secondary" (click)="this.onLeaveMatchClick()">Leave match</button>
            </div>
        </div>
    </div>

    <div class="flex gap-8 h-full items-stretch justify-stretch min-h-0">
        <app-character-card class="aspect-[3/4]"
            [playerData]="this.matchService.getUserPlayerData(this.matchService.match.playerData)"
            [active]="true"
            [disabled]="true"
            [fullSize]="true"
        />
        
        <div class="flex flex-col grow gap-8">
            <div class="overflow-y-scroll flex flex-col-reverse h-full bg-appSlate900 rounded-lg p-4 gap-4">
                <div *ngFor="let turn of this.matchService.match.turns"
                    class="flex flex-col gap-2 p-4 bg-appSlate800 rounded-lg"
                >
                    <div class="flex justify-between">
                        <div class="opacity-60 font-bold">{{turn.character.name}}'s turn</div>
                    </div>

                    <div *ngFor="let action of turn.actions">
                        {{action.description}}
                    </div>

                    <div *ngIf="turn.endedOn" class="flex justify-between">
                        <div class="opacity-60 font-bold">Turn ended</div>
                    </div>
                </div>
                
                <div class="font-spectral text-2xl text-center">Match started</div>
            </div>

            <div class="grid grid-cols-2 gap-4">
                <button class="btn-primary col-span-2">Attack</button>
            </div>
        </div>


        <app-character-card class="aspect-[3/4]"
            [playerData]="this.matchService.getEnemyPlayerData(this.matchService.match.playerData)"
            [active]="false"
            [disabled]="true"
            [fullSize]="true"
        />
    </div>

    <div class="flex justify-between">
        <span>Made by Bradley Oosterveen</span>
        <a class="underline">Report a bug</a>
    </div>
</ng-container>