<ng-container *ngIf="this.matchService.match && this.getClientPlayerData()?.character">
    <div class="flex flex-col gap-4">
        <div class="flex justify-between items-center w-full">
            <h4>Baldur's Trials</h4>

            <div class="flex gap-6 items-center">
                <span>Time played: {{this.timePlayed}}</span>

                <button *ngIf="this.matchService.isHost(this.matchService.match)" class="btn-secondary" (click)="this.onEndMatchClick()">End match</button>
                <button *ngIf="!this.matchService.isHost(this.matchService.match)" class="btn-secondary" (click)="this.onLeaveMatchClick()">Leave match</button>
            </div>
        </div>
    </div>

    <div class="flex gap-6 h-full items-stretch justify-stretch min-h-0">
        <app-character-card class="aspect-[3/4]"
            [playerData]="this.matchService.getUserPlayerData(this.matchService.match.playerData)"
            [active]="this.matchService.isCharacterTurn(this.getClientPlayerData()!.character)"
            [disabled]="true"
            [fullSize]="true"
            [battle]="true"
        />
        
        <div class="flex flex-col grow gap-6">
            <div class="overflow-y-scroll flex flex-col-reverse h-full bg-appSlate900 rounded-lg p-4 gap-4">
                <div *ngFor="let turn of this.matchService.match.turns"
                    class="flex flex-col gap-2 p-4 bg-appSlate800 rounded-lg"
                >
                    <div class="flex justify-between">
                        <div class="opacity-60 font-bold">{{turn.character.name}}'s turn</div>
                    </div>

                    <div *ngFor="let action of turn.actions">
                        {{action.description}}
                    </div>

                    <div *ngIf="turn.endedOn" class="flex justify-between">
                        <div class="opacity-60 font-bold">Turn ended</div>
                    </div>
                </div>
                
                <div class="font-spectral text-2xl text-center">Match started</div>
            </div>

            <div *ngIf="this.getClientPlayerData()?.character?.attacks" class="grid grid-cols-1 gap-2">
                <button 
                    *ngFor="let attack of this.getClientPlayerData()!.character.attacks" 
                    class="btn-primary btn-flex font-bold"
                    [disabled]="!this.matchService.isCharacterTurn(this.getClientPlayerData()!.character)"
                    (click)="this.performAttack(attack)"
                >
                    <span class="w-full text-left">{{attack.name}}</span>
                    <span>
                        {{this.generateAttackString(this.getClientPlayerData()!.character, attack)}}
                    </span>
                    <span class="w-full text-right">
                        {{this.generateDamageString(this.getClientPlayerData()!.character, attack)}}
                    </span>
                </button>
            </div>
        </div>


        <app-character-card class="aspect-[3/4]"
            [playerData]="this.matchService.getEnemyPlayerData(this.matchService.match.playerData)"
            [active]="!this.matchService.isCharacterTurn(this.getClientPlayerData()!.character)"
            [disabled]="true"
            [fullSize]="true"
            [battle]="true"
        />
    </div>

    <app-footer/>
</ng-container>