<ng-container *ngIf="this.matchService.match">
    <div class="flex flex-col gap-4">
        <div class="flex justify-between items-center w-full">
            <div class="font-spectral text-2xl font-bold">Baldur's Trials</div>

            <div class="flex gap-8 items-center">
                <span>Time played: {{this.timePlayed}}</span>

                <button *ngIf="this.matchService.isHost(this.matchService.match)" class="btn-secondary" (click)="this.onEndMatchClick()">End match</button>
                <button *ngIf="!this.matchService.isHost(this.matchService.match)" class="btn-secondary" (click)="this.onLeaveMatchClick()">Leave match</button>
            </div>
        </div>
    </div>

    <div class="flex gap-8 bg-appSlate900 p-8 rounded-lg h-full items-stretch justify-stretch min-h-0">
        <app-character-card class="aspect-[3/4]"
            [playerData]="this.matchService.getUserPlayerData(this.matchService.match.playerData)"
            [active]="true"
            [disabled]="true"
            [fullSize]="true"
        />
        
        <div class="grow overflow-y-scroll">
            <div *ngFor="let item of [].constructor(999); let i = index">
                {{i}}
            </div>
        </div>
        <app-character-card class="aspect-[3/4]"
            [playerData]="this.matchService.getEnemyPlayerData(this.matchService.match.playerData)"
            [active]="false"
            [disabled]="true"
            [fullSize]="true"
        />
    </div>
</ng-container>