<div class="flex flex-col h-screen justify-center items-center">
    <div class="flex flex-col w-[1024px] gap-8">
        <app-menu-top-bar></app-menu-top-bar>

        <div class="flex flex-wrap gap-x-32 gap-y-16 h-[426.667px] grow shrink-0 justify-center items-center">
            <app-menu-button [routerLink]="['/game/match']" [icon]="'joystick'">
                <span text>Play</span>
            </app-menu-button>
    
            <app-menu-button *ngIf="this.authService.user?.role == 'Admin'" [routerLink]="['/admin']" [icon]="'shield_person'">
                <span text>Admin</span>
            </app-menu-button>

            <app-menu-button (click)="this.onLogOutClick()" [icon]="'logout'">
                <span text>Quit</span>
            </app-menu-button>
        </div>

        <app-footer/>
    </div>
</div>