<div class="flex flex-col h-screen">
    <app-menu-top-bar></app-menu-top-bar>

    <div *ngIf="this.characters" class="flex items-center justify-center gap-4 h-full">
        <div class="play-card">
            <div class="flex flex-col justify-around gap-4 h-full">

                <div *ngIf="this.matchService.activeMatch !== undefined">
                    <div *ngIf="!this.matchService.activeMatch" class="flex flex-col justify-around gap-4 h-full">
                        <div class="flex flex-col items-stretch gap-4">
                            <h1 class="text-2xl text-center">Create new match</h1>
                            <button class="btn-primary" (click)="this.onCreateMatchClick()">Create</button>
                        </div>

                        <app-or-divider/>

                        <form class="flex flex-col items-stretch gap-4" [formGroup]="joinForm" (ngSubmit)="this.onJoinSubmit()">
                            <h1 class="text-2xl text-center">Join a game</h1>
                            <input type="text" id="code" class="input" placeholder="HJDSAI" formControlName="code">
                            <button *ngIf="!this.processingJoin" class="btn-primary" type="submit" [disabled]="joinForm.invalid">Join game</button>
                            <button *ngIf="this.processingJoin" type="button" class="btn-primary" disabled>Joining game...</button>
                        </form>
                    </div>

                    <div *ngIf="this.matchService.activeMatch" class="flex flex-col items-stretch gap-4">
                        <h1 class="text-2xl text-center">Match in progress</h1>
                        <button class="btn-primary" [routerLink]="['match']">Join</button>
                    </div>
                </div>
                <app-full-loader *ngIf="this.matchService.activeMatch === undefined"/>
            </div>
        </div>

        <app-character-card *ngFor="let character of this.characters" [character]="character" [routerLink]="['character', character.id]" ></app-character-card>
    </div>
</div>