<div class="flex flex-col h-screen justify-center items-center">
    <div class="flex flex-col w-[1024px] gap-12">
        <app-menu-top-bar></app-menu-top-bar>

        <div class="flex flex-wrap gap-x-32 gap-y-16 grow shrink-0 justify-center items-center">
            <app-menu-button [routerLink]="['/game/match']">
                <span icon class="material-symbols-outlined text-6xl">joystick</span>
                <span text>Play</span>
            </app-menu-button>
    
            <app-menu-button [routerLink]="['/game/characters']">
                <span icon class="material-symbols-outlined text-6xl">groups</span>
                <span text>Characters</span>
            </app-menu-button>
    
            <app-menu-button [routerLink]="['/game/settings']">
                <span icon class="material-symbols-outlined text-6xl">settings</span>
                <span text>Settings</span>
            </app-menu-button>

            <app-menu-button (click)="this.onLogOutClick()">
                <span icon class="material-symbols-outlined text-6xl">logout</span>
                <span text>Quit</span>
            </app-menu-button>
        </div>
    </div>
</div>