<div class="flex flex-col h-screen">
    <app-menu-top-bar></app-menu-top-bar>

    <div class="flex flex-col h-full gap-8 px-12 2xl:px-56">
        <div class="flex gap-8 justify-between w-full">
            <div class="flex gap-4">
                <button class="btn-secondary btn-flex" [routerLink]="['/game/account']" [routerLinkActive]="['active']">Information</button>
            </div>
        </div>

        <div class="flex flex-col gap-4 w-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>