<div class="flex flex-col gap-6 px-12 py-6 h-screen max-h-screen">
    <div class="flex flex-col gap-4">
        <div class="flex justify-between items-center w-full">
            <div class="font-spectral text-2xl font-bold">Admin dashboard</div>
    
            <div class="flex gap-8 items-center">
                <div *ngIf="this.authService.user" class="btn-flex text-xl">
                    {{this.authService.user.username}} <span class="material-symbols-outlined">person</span>
                </div>
            </div>
        </div>
    </div>

    <div class="h-full">

    </div>

    <app-footer/>
</div>