<div *ngIf="this.authService.user" class="flex flex-col gap-8">
    <span class="text-5xl font-bold">Account information</span>

    <div class="flex flex-col gap-2 px-4 py-2 bg-appSlate900">
        <span class="text-2xl font-bold">Username</span>
        <span>{{this.authService.user.username}}</span>
    </div>

    <div class="flex flex-col gap-2 px-4 py-2 bg-appSlate900">
        <span class="text-2xl font-bold">E-mail</span>
        <span>{{this.authService.user.email}} <span *ngIf="this.authService.user.verified" class="material-symbols-outlined">verified</span></span>
    </div>

    <div class="flex flex-col gap-2 px-4 py-2 bg-appSlate900">
        <span class="text-2xl font-bold">Role</span>
        <span>{{this.authService.user.role}}</span>
    </div>
</div>