<div class="flex justify-center items-center absolute inset-0 bg-appSlate900/50 z-[999] backdrop-blur">
    <div class="flex flex-col gap-6 bg-appSlate900 px-12 py-6 rounded-lg w-1/2">
        <div class="font-spectral text-4xl font-bold">Cookie notice</div>

        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. At impedit quas exercitationem amet earum labore, neque quod eius molestias cum ratione dicta. Minus praesentium porro numquam provident dignissimos architecto tempora!</div>
    
        <div class="flex gap-6">
            <button class="btn-primary" (click)="this.cookiesService.enableCookies()">Continue</button>
        </div>
    </div>
</div>