<div class="flex justify-center items-center absolute inset-0 bg-appSlate900/50 z-[999] backdrop-blur">
    <div class="flex flex-col gap-6 bg-appSlate900 px-12 py-6 rounded-lg w-1/2">
        <h2>Cookie notice</h2>

        <p>This website uses cookies which are required for it to function. Nothing will be tracked, except for gameplay.</p>
    
        <div class="flex gap-6">
            <button class="btn-primary" (click)="this.cookiesService.enableCookies()">Continue</button>
        </div>
    </div>
</div>