<div class="flex flex-col h-screen justify-center items-center">
    <div class="flex flex-col w-[1024px] gap-8">
        <div class="flex justify-between items-center">
            <a [routerLink]="['/game']" class="btn-flex h-fit w-fit border-b-2 py-1 font-bold">
                <span class="material-symbols-outlined">arrow_back</span>
                Go back
            </a>

            <span class="text-6xl font-bold">Play</span>
        </div>

        <div class="flex flex-wrap gap-x-32 gap-y-16 h-[426.667px] grow shrink-0 justify-center items-center">
            <app-menu-button (click)="onQuickPlayClick()" [icon]="'electric_bolt'">
                <span text>Quick play</span>
            </app-menu-button>

            <app-menu-button (click)="onCreateMatchClick()" [icon]="'add_circle'">
                <span text>New match</span>
            </app-menu-button>
        </div>
    </div>
</div>