<div *ngIf="this.username" [ngClass]="readyClasses()" class="bg-appSlate900 w-full px-4 py-2 relative overflow-hidden flex gap-12 relative items-center justify-between">
    <div class="text-xl font-bold flex items-center gap-4">
        {{this.username}}

        <span *ngIf="this.isHost" class="material-symbols-outlined">stars</span>
    </div>
    <div *ngIf="this.isReady" class="flex gap-4 items-center">
        <div class="opacity-40">Ready!</div>
        <span class="material-symbols-outlined">check_box</span>
    </div>

    <div *ngIf="!this.isReady" class="flex gap-4 items-center">
        <div class="opacity-40">Getting ready...</div>
        <span class="material-symbols-outlined">check_box_outline_blank</span>
    </div>
</div>


<div *ngIf="!this.username" class="w-full px-4 py-2 relative overflow-hidden flex gap-12 relative items-center justify-between">
    <div class="opacity-40 text-xl">Empty slot</div>
    <div class="flex gap-4 items-center">
        <div class="opacity-40">Waiting...</div>
        <app-small-loader/>
    </div>
</div>