@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@layer base {
    input {
        @apply input;

        &:read-only {
            @apply border-none;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    a {
        @apply transition cursor-pointer hover:opacity-60;
    }
}

@layer components {
    .badge {
        @apply px-4 py-1 border rounded-lg text-sm;
    }

    .btn-primary {
        @apply
            bg-appWhite text-appSlate py-2 px-6 font-bold rounded-lg
            hover:opacity-60
            disabled:opacity-10;
    }

    .btn-secondary {
        @apply btn-primary bg-appSlate800 text-appWhite;
    }

    .btn-flex {
        @apply flex justify-between gap-4 items-center;
    }

    .btn-icon {
        @apply flex bg-appSlate800 text-appWhite p-2 rounded-full
            hover:opacity-60
            disabled:opacity-10;
    }

    .input {
        @apply
            rounded-lg bg-transparent py-2 px-6 border border-appSlate600
            focus:outline focus:outline-2 focus:outline-white;
    }

    .play-card {
        @apply aspect-card bg-appSlate900 w-80 rounded-lg p-6 relative overflow-hidden;
    }

    .play-card-square {
        aspect-ratio: 1 / 1;
        @apply bg-appSlate900 rounded-lg p-6 relative overflow-hidden;
    }

    .active {
        @apply outline outline-offset-2 outline-2 outline-white;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 24
}

.loader {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}