@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@layer base {


    input {
        @apply input;

        &:read-only {
            @apply border-none;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    a {
        @apply transition cursor-pointer hover:opacity-60;
    }
}

@layer components {
    .badge {
        @apply px-4 py-1 border rounded-lg text-sm;
    }

    .btn-primary {
        @apply
            transition bg-white text-appSlate py-2 px-6 font-bold rounded-lg
            hover:opacity-60
            disabled:opacity-10;
    }

    .btn-secondary {
        @apply btn-primary bg-appSlate800 text-white;
    }

    .btn-flex {
        @apply flex justify-between gap-4;
    }

    .input {
        @apply
            rounded-lg bg-transparent py-2 px-6 border border-appSlate600
            focus:outline focus:outline-2 focus:outline-white;
    }

    .play-card {
        @apply aspect-card bg-appSlate900 w-80 rounded-lg p-6 relative overflow-hidden;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}