<div *ngIf="alerts.length > 0" class="fixed bottom-0 left-0 flex flex-col items-start p-8 gap-4" style="z-index: 999999;">
    <div *ngFor="let alert of alerts" class="py-4 px-8 text-appSlate rounded cursor-pointer" [ngClass]="className(alert)" (click)="close(alert)">
        <div class="flex gap-8 items-center">
            <span class="material-symbols-outlined text-3xl">{{alert.icon}}</span>

            <div class="flex flex-col">
                <h3 class="font-bold text-lg">{{alert.title}}</h3>
                <p *ngIf="alert.message">{{alert.message}}</p>
            </div>
        </div>
    </div>
</div>